/*Fonts */

@font-face {
  font-family: 'AmpleSoft-Light';
  src: url('fonts/AmpleSoft-Light.eot'),
       url('fonts/AmpleSoft-Light.woff2') format('woff2'), 
       url('fonts/AmpleSoft-Light.woff') format('woff'), 
       url('fonts/AmpleSoft-Light.ttf')  format('truetype'), 
       url('fonts/AmpleSoft-Light.svg') format('svg'); 
}
@font-face {
  font-family: 'AmpleSoft-Medium';
  src: url('fonts/AmpleSoft-Medium-webfont.eot'),
       url('fonts/AmpleSoft-Medium-webfont.woff2') format('woff2'), 
       url('fonts/AmpleSoft-Medium.woff') format('woff'), 
       url('fonts/AmpleSoft-Medium.ttf')  format('truetype'), 
       url('fonts/AmpleSoft-Medium.svg') format('svg'); 
}